.chat{
	position: absolute;
	width: 100%;
	margin: 10px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	top: 90%;

}
.chat img{
	position: fixed;
	max-width: 60px;
	max-height: 60px;
	width: 100%;
	height: 100%;
	z-index: 999;
	padding:10px;
	background-color:white;
	border-radius: 10%;
}
footer{
	background-image: linear-gradient(0deg, #00161C, #00627A);
	box-sizing: border-box;
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
}
.f-logo h2{
	color:#fff;
	font-family: 'bebas kai' !important;
	letter-spacing: 2px;
	padding: 5px 10px;
	font-size: 25px;
}
.f-logo p{
	color:#fff;	
	font-size: 15px;
	margin: 0;
}
.secao-superio a,.dwn-secao a{
	text-decoration: none !important;
}

.secao-superio ul,.dwn-secao ul{
	font-family: calibri;
	margin: 0;
	padding:0 20px;
	list-style: none;
}
.secao-superio h1,.dwn-secao h1{
	color:#eee;
	font-size: 20px;
	font-family: calibri;
}
.secao-superio ul li a,.dwn-secao ul li a{
	font-size: 16px;
	color:#fff;
}
.secao-superio ul li p{
	font-size: 14px;
	color:#fff;
	line-height: 10px;
}
.secao-superio,.dwn-secao{
	display: flex ;
	justify-content: space-between;
	padding: 3% 0px;
	margin: 0 5px;
	width: 80%;
	flex-wrap: wrap !important;
}
.secao-superio{
	border-bottom: 1px solid #fff;
}
.social-icons a{
	width: 35px;
	height: 35px;
	margin: 0px 5px;
	background-color: #00627A;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
	display: flex;
	justify-content: center;
	align-items: center;
}
.social-icons{
	display: flex;
	justify-content: center;
	align-items: center;
}
.noticia-email .contato input{
	padding: 7px;
	border:0;
	height: 35px;
	width: 200px;
	text-align: none;

}
.noticia-email .contato button{
	border: none;
	color: rgba(255, 255, 255, 0.9);
	padding: 10px;
	background-color: rgba(6, 101, 245, 0.9);
}
.noticia-email .contato button:hover{
	background-color: rgba(6, 101, 245, 0.7);
}
.noticia-email .contato{
	display: flex;
	justify-content: center;
	align-items: center;
}
.social-icons i{
	color:#fff;
	font-size: 14px;
}
.companhia{
	font-family: calibri;
	font-size: 12px;
	color: #eee;
}
.secao-superio ul li a:hover,.dwn-secao ul li a:hover{
	color:#eee;
}
.social-icons a:hover{
	text-decoration: none;
	transition: all ease 0.5s;
	background-color: #00161C;
}
.social-icons a:hover i{
	color: #fff;
}

@media(max-width: 1024px){
	.noticia-email{
		margin: 20px auto;
		display: flex;
		align-items: center;
		width: 100%;
		justify-content: center;
	}
	.noticia-email h1{
		margin: 20px;
	}
}

@media(max-width: 720px){
	.secao-superio,.dwn-secao{
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	.secao-superio ul h1,.dwn-secao ul h1{
		font-size: 25px;
	}
	.secao-superio ul li,.dwn-secao ul li{
		text-align: center;
		margin: 10px;
	}
	.secao-superio ul li a,.dwn-secao ul li a{
		font-size: 20px;
	}
	.f-logo h2{
		border:1px solid #545562;
	}
	.f-logo{
		margin-bottom: 10px;
	}
	.noticia-email{
		display: block;
	}
}